body, html {
    height: fit-content;
    width: 100%;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 20px 40px;
    width: 100%;
    height: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4F345A;
    background-color: #D2E1D7;
    border-bottom: 2px solid #9CBFA7;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #D2E1D7;
    border-top: 2px solid #9CBFA7;
}

section {
    width: 700px;
}

img {
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
}

.image-wrapper {
    margin: 250px 0;
    width: 600px;
    height: 400px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

figure.image {
    display: flex;
    align-items: center;
}


canvas.chart {
    padding: 50px;
    max-width: 1000px;
    max-height: 600px;
}

.restartVoting {
    margin: 0 38%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    height: 50px;
    width: 300px;
}

.restartBanner {
    display: none;
    width: 105%;
    height: 50px;
    margin: 250px 0 0 0;
    background-color: #491468;
    
}

footer button {
    color: red;
}